@import '../../SassStyles/_variables';

.products {
    margin: 80px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.product {
    flex-basis: 23%;
    background: $cards-bg-color;
    border-radius: 3px;
    position: relative;
    min-height: 635px;

    img{
        width: 100%;
        border-radius: 3px;
        padding: 5px;
        display: block;
    }

    .info-news, .info-discount{
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px 6px;
        margin: 10px;
        background: $news-info-bg-color;
        color: $white;
        font-weight: 500;
        border-radius: 3px;
    }

    .info-discount {
        background: $discount-info-bg-color;
    }

    .description {
        padding: 10px;
        p{

            &:first-child {
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 15px;
            }

            &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
}
