$navbar-bg-color: #E6DACC;
$body-bg-color: #F5F5F5;
$navbar-btn-bg-color: #EBDFD2;
$font-color: #3F3530;
$navbar-border-color: #3F3530;
$hero-bg-color: #F5F5F5;
$btn-bg-hover: #FFF;
$cards-bg-color: #EBDFD2;
$navbar-border-line-color: #DBDBDB;
$discount-info-bg-color: #FD5C63;
$news-info-bg-color: #17B169;
$white: #FFF;
$black: #000;
$product-view: rgba(0, 0, 0, 0.7);