@import '../../SassStyles/_variables';

.testimonials {
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
    width:100%;

    .next-btn, .back-btn {
        position: absolute;
        top: 44%;
        width: 50px;
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
        background: $navbar-bg-color;
    }

    .next-btn {
        right: 0;
    }

    .back-btn {
        left: 0;
    }

    .slider{
        overflow: hidden;

        ul{
            display: flex;
            width: 200%;
            overflow-x: hidden;
            transition: 0.5s;

            li{
                list-style: none;
                width: 50%;
                padding: 20px;
                display: flex;
                align-items: stretch; 

                .slide{
                    box-shadow: 0 0 20px rgba(0,0,0,0.1);
                    padding: 40px;
                    border-radius: 3px;
                    line-height: 1.4;
                    background: $white;
                    min-height: 280px;

                    img{
                        width: 65px;
                        border-radius: 50%;
                        margin-right: 10px;
                        border: 3px solid $font-color;
                    }

                    .user-info{
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}